.icon-gold {
    color: gold;
}

.icon-silver {
    color: silver;
}

.icon-red {
    color: red;
}

.icon-green {
    color: green;
}

.icon-blue {
    color: blue;
}

.icon-gray {
    color: gray;
}

.icon-total {
    color: lightblue
}

.icon-disabled {
    color: gray;
}

.icon-pending {
    color: orangered;
}

.icon-active {
    color: lightgreen;
}