.user-username {
    font-size: 18pt;
}

.banned {
    text-decoration: line-through;
    color: gray;
}

.banned > img {
    filter: grayscale(1);
}

.user-equipment img {
    width: 64px;
    height: 64px;
}