.icon-gold {
    color: gold;
}

.icon-silver {
    color: silver;
}

.icon-red {
    color: red;
}

.icon-green {
    color: green;
}

.icon-blue {
    color: blue;
}

.icon-gray {
    color: gray;
}