.sortableTable-container h6 {
    text-align: center;    
}

.sortableTable th:hover {
    cursor: pointer;    
}
/* 
.sortableTable {
    font-size: small;
}

.sortableTable td {
    font-size: smaller;
} */
.highlightEmpty > input {
    border: solid thick orange;
    border-radius: 5px;
}

.tr-banned td {
    background-color: red;
}