.ranking-master,
.ranking-diamond,
.ranking-platinum,
.ranking-gold,
.ranking-silver,
.ranking-bronze,
.ranking-default {
    border: solid thick;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    margin: 5px 0px;
}

.ranking-master {
    background-color: rgba(128, 0, 128, 0.2);
    color: purple;
}

.ranking-diamond {
    background-color: rgba(30, 144, 255, 0.2);
    color: dodgerblue;
}

.ranking-platinum {
    background-color: rgba(0, 128, 0, 0.2);
    color: green;
}

.ranking-gold {
    background-color: rgba(255, 215, 0, 0.2);
    color: gold;
}

.ranking-silver {
    background-color: rgba(192, 192, 192, 0.2);
    color: silver;

}

.ranking-bronze {
    background-color: rgba(205, 127, 50, 0.2);
    color: rgb(205, 127, 50);
}

.ranking-default {
    background-color: rgba(128, 128, 128, 0.2);
    color: gray;

}

.rankingTitle {
    font-weight: bold;
}

.rankingValue {
    font-size: x-large;
}

.rankingRank {
    font-size: smaller;
    place-self: end;
}