.text-gold {
    color: gold;
}

.mu-member, .mu-donor {
    font-size: 16pt;
}

@keyframes disco {
    from {
        transform: rotateY(0deg);
        background-color: chartreuse;
        border: solid thick aqua;
        color: blueviolet;
    }
    to {
        transform: rotateY(360deg);
        background-color: blueviolet;
        border: dotted thick orangered;
        color: chartreuse;
    }
}

.freeSlotsMadness {
    margin: 0 auto;
    animation: 1s;
    animation-name: disco;
    animation-iteration-count: infinite;
    font-weight: bold;
}