.countriesTable th:hover {
    cursor: pointer;    
}

.countriesTable {
    font-size: smaller;
}

.countriesTable td {
    font-size: x-small;
}

.countryflag-toggle {
    cursor: pointer;
}

.tr-excluded td {
    background-color: #666;
}